body{
  background-image: url("../images/wave_background.jpg");
  height: 100%; 
 background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
   background-attachment: fixed; 
   overflow-x: hidden;
}

*{
  margin: 0;
  padding: 0;
  font-family: courier new;
  box-sizing: border-box;
}

header{
	  background-image: url("../images/tokyo_drawing.jpg");
  padding:30px;
  height: 8%;
  background-color: black;
  background-position: center;
  background-repeat: no-repeat; /*Pas de répétition de l'image*/
  background-size: cover;
  position: relative;
}

header h1{
  color:white;
  font-size: 55px;
  margin-left: 57%;
  text-shadow: 1px 1px 2px grey;
  animation: brillance 1s ease-in-out infinite alternate;
}




@keyframes brillance {
  from {
    text-shadow: 0 0 5px black, 0 0 10px black, 0 0 15px white, 0 0 20px white, 0 0 25px white, 0 0 30px black, 0 0 35px black;
  }
  to {
    text-shadow: 0 0 10px black, 0 0 20px black, 0 0 30px black, 0 0 40px black, 0 0 50px black, 0 0 60px black, 0 0 70px black;
  }
}



.login-form{
  width: 360px;
  background: #f1f1f1;
  height: 580px;
  padding: 80px 40px;
  border-radius: 10px;
  position: absolute;
  left: 50%;
  top: 60%;
  transform: translate(-50%,-50%);
}

.login-form h1, .login-form h2{
  text-align: center;
  margin-bottom: 60px;
}

.txtb{
  border-bottom: 2px solid #adadad;
  position: relative;
  margin: 30px 0;
}

.txtb input{
  font-size: 15px;
  color: #333;
  border: none;
  width: 100%;
  outline: none;
  background: none;
  padding: 0 5px;
  height: 40px;
}

.txtb span::before{
  content: attr(data-placeholder);
  position: absolute;
  top: 50%;
  left: 5px;
  color: #adadad;
  transform: translateY(-50%);
  z-index: -1;
  transition: .5s;
}

.txtb span::after{
  content: '';
  position: absolute;
  width: 0%;
  height: 2px;
  background: linear-gradient(120deg,#3498db,#8e44ad);
  transition: .5s;
}


.focus + span::before{
  top: -5px;
}
.focus + span::after{
  width: 100%;
}

.login-form span{
	float: left;
}


.logbtn{
  display: block;
  width: 100%;
  height: 50px;
  border: none;
  background: black;
  background-size: 200%;
  color: #fff;
  outline: none;
  cursor: pointer;
  transition: .5s;
  margin-top: 80px;
}

.logbtn:hover{
  background-position: right;
}

.bottom-text{
  margin-top: 60px;
  text-align: center;
  font-size: 13px;
}


	
.password{
	top: 51%;
	color: grey;

}


/*CSS MOT DE PASSE OUBLIE*/

h5{
	text-align: center;
	color: #C2B8B6;
}


.passwordform{
  width: 390px;
  background: #f1f1f1;
  height: 580px;
  padding: 80px 40px;
  border-radius: 10px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
}


.passwordform h1{
  text-align: center;
  margin-bottom: 60px;
}



.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.nav-wrapper{
  height: 117px;
}
nav{
    width: 100%;
    height: 117px;
    margin: 0 auto;
    background-color: black;
    top: 0px;
    font-size:1.25vw;
    z-index:2;
}

nav ul{
    list-style-type: none;
}

nav img{
  float:left;
  max-width:7%;
  height: auto;
  filter: brightness(0) invert(1); /*Change la couleur de l'image en blanc*/
}


nav ul li{
    float: left;
    width:15%; /*contrôle la taille des rubriques*/
    text-align: center;
    position: relative;
}


nav ul::after{
    content: "";
    display: table;
    clear: both;
}

nav a{
    display: block;
    text-decoration: none;
    color: white;
    border-bottom: 2px solid transparent;
    padding: 15% 0%;
}

nav a:hover{
    color: white;
    border-bottom: 2px solid white;
   }



.deroule{
    display: none;
    position: absolute;
    width: 100%;
    z-index: 1;
}
nav > ul li:hover .deroule{
    display: block;
}
.deroule li{
    float: none;
    width: 100%;
    text-align: left;
    background-color:rgba(0,0,0,.7);
}
.deroule a{
    padding: 10px;
    border-bottom: none;
}
.deroule a:hover{
    border-block:1px solid white;
}
.deroulant > a::after{
    font-size: 12px;
}

.droite{
  float:right;
}

.hauteur{
  height: 1080px;
  width: 1920px;

}



/*Footer*/

 footer {
  position: absolute;
  height: 250px;
  background-color: black;
  color: white;
  width: 100%;
        }

.liste{
    float: left;
    margin: 20px 70px;
    width: 20%;
}

.heading2 {
    font-weight: 500;
    color: gray;
}

footer ol {
    list-style: none;
}

footer li {
    margin: 10px 0;
}

footer a {
    color: white;
    text-decoration: none;
}

footer a:hover {
    color: blue;
}

.SocialIcon {
    height: 28px;
    border-radius: 7px;
}

#IconList {
    display: flex;
}
#IconList li {
    margin: 0 10px;
} 
.Credits {
    margin-top: 40px;
    float: left;
    width:100vw;
}
.Credits img.Paypal{

  margin-left: 77%;
}
@media screen and (max-width: 1700px){

  .nav-wrapper{
  height: 105px;
}
  nav{
    height: 105px;

  }


}

@media screen and (max-width: 1556px){

  .nav-wrapper{
  height: 95px;
}
  nav{
    height: 95px;

  }


}
	

@media screen and (max-width: 1385px){
  .liste{

    float: none;
    margin: 20px 70px;
    width:70%;
}

footer{
  height:450px;
  width: 100%;
}

.Credits img.Paypal{

  margin-left: 70%;
}
}

@media screen and (max-width: 1280px){

  .nav-wrapper{
  height: 70px;
}
  nav{
    height: 70px;

  }


}

@media screen and (max-width: 1040px){

   nav{
  
    height: 60px;

  }

   header h1{
  color:white;
  font-size: 30px;
  
  text-shadow: 1px 1px 2px grey;
  animation: brillance 1s ease-in-out infinite alternate;
}

.Credits {
    margin-top: 0px;
    float: left;
    width:100vw;
}

.Credits img.Paypal{

  margin-left: 65%;
}
}


@media screen and (max-width: 1000px){
  .Credits img.Paypal{

  margin-left: 30%;
}
}

@media screen and (max-width: 600px){

   .nav-wrapper{
  height: 35px;
}
  nav{
     
    height: 35px;
  }
}


.contact img{
  width:50px;
  height:50px;
  text-align: center;
}

.contact td{
  width: 33.33%;
}




.contact{
  border-bottom: 2px solid #adadad;
  height: 850px;
  position: relative;
  margin: 10px 200px 30px;
  text-align: center;
  color: #E9E3E3;
  background-image: linear-gradient(to right top, #606060, #595959, #515152, #4a4a4b, #434344, #3d3e3f, #383839, #323334, #2d2e2f, #29292b, #242426, #201f21);
}
