@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
*{
    margin: 0px;
    padding: 0px;
   font-family: Courier New;
}
body, html {
  height: 100%;
}

body{
  background-image: url("../images/Tokyo_drawing.jpg");
  height: 100%; 
 background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
   background-attachment: fixed; 
   overflow-x: hidden;
}



header{
  background-image: url("../images/wave_background.jpg");
  padding:30px;
  height: 8%;
  background-color: black;
  background-position: center;
  background-repeat: no-repeat; /*Pas de répétition de l'image*/
  background-size: cover;
  position: relative;


}




header h1{
  color:white;
  font-size: 55px;
  margin-left: 57%;
  text-shadow: 1px 1px 2px grey;
  animation: brillance 1s ease-in-out infinite alternate;
}

header.goodies h1{
  color:white;
  font-size: 55px;
  margin-left: 57%;
  text-shadow: 1px 1px 2px grey;
  animation: spark 1s ease-in-out infinite alternate;
}

@keyframes brillance {
  from {
    text-shadow: 0 0 5px black, 0 0 10px black, 0 0 15px white, 0 0 20px white, 0 0 25px white, 0 0 30px black, 0 0 35px black;
  }
  to {
    text-shadow: 0 0 10px black, 0 0 20px black, 0 0 30px black, 0 0 40px black, 0 0 50px black, 0 0 60px black, 0 0 70px black;
  }
}

@keyframes spark {
  from {
    text-shadow: 0 0 5px black, 0 0 10px black, 0 0 15px purple, 0 0 20px purple, 0 0 25px purple, 0 0 30px purple, 0 0 35px purple;
  }
  to {
    text-shadow: 0 0 10px black, 0 0 20px black, 0 0 30px black, 0 0 40px black, 0 0 50px black, 0 0 60px black, 0 0 70px black;
  }
}

/*style de la barre de navigation*/
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.nav-wrapper{
  height: 117px;
}
nav{
    width: 100%;
    height: 117px;
    margin: 0 auto;
    background-color: black;
    top: 0px;
    font-size:1.25vw;
    z-index:2;
}

nav ul{
    list-style-type: none;
}

nav img{
  float:left;
  max-width:7%;
  height: auto;
  filter: brightness(0) invert(1); /*Change la couleur de l'image en blanc*/
}


nav ul li{
    float: left;
    width:15%; /*contrôle la taille des rubriques*/
    text-align: center;
    position: relative;
}


nav ul::after{
    content: "";
    display: table;
    clear: both;
}

nav a{
    display: block;
    text-decoration: none;
    color: white;
    border-bottom: 2px solid transparent;
    padding: 15% 0%;
}

nav a:hover{
    color: white;
    border-bottom: 2px solid white;

   }



.deroule{
    display: none;
    position: absolute;
    width: 100%;
    z-index: 1;
}
nav > ul li:hover .deroule{
    display: block;
}
.deroule li{
    float: none;
    width: 100%;
    text-align: left;
    background-color:rgba(0,0,0,.7);
}
.deroule a{
    padding: 10px;
    border-bottom: none;
}
.deroule a:hover{
    border-block:1px solid white;
}
.deroulant > a::after{
    font-size: 12px;
}

.droite{
  float:right;
}
  
/*Fin du style de la barre*/

/*Style des produits*/

body.goodies section img{
   border-radius: 50% 20% / 10% 40%;
  width: 300px;
  height: 300px;
  box-shadow: 8px 5px 5px black;
}

section img {
 border-radius: 50% 20% / 10% 40%;
  width: 300px;
  height: 300px;
  box-shadow: 8px 5px 5px grey;

}

.container{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 50px;
  padding-bottom: 100px;
}

.image{
  margin-right: 20px;
  margin-left: 20px;
  position:relative;
  overflow: hidden;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);


}

.ajout{
  box-shadow : 5px -2px 10px darkgrey; 
  position: absolute;
  width: 100%;
  background-color: white;
  transition: all 0.3s ease-in-out;
  opacity: 0;
  cursor: pointer;
  text-align: center;

}

article p{
  color: black;

  font-size: 22px;
  text-align:center;
  background-color: rgba(255,255,255,.9);
  font-weight: 500;
  border-radius: 50% 20% / 10% 40%;

}

.image:hover .produit1
{
  border-radius: 50% 20% / 10% 40%;
  bottom: 50px;
  opacity: 1;
  padding:10px;

  font-size: 17px;
  text-decoration:none;
}

/*Fin style des produits*/

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
}

.pagination a {
  color: white;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  background-color: black;
  margin: auto 0;

}



.pagination a:hover {
  color:black;
  background-color: #ddd;}

/*Footer*/

 footer {
  position: absolute;
  
  height: 240px;
  background-color: black;
  color: white;
  width: 100%;
        }

.liste{
    float: left;
    margin: 20px 70px;
    width: 20%;
}

.heading2 {
    font-weight: 500;
    color: gray;
}

footer ol {
    list-style: none;
}

footer li {
    margin: 10px 0;
}

footer a {
    color: white;
    text-decoration: none;
}

footer a:hover {
    color: blue;
}

.SocialIcon {
    height: 28px;
    border-radius: 7px;
}

#IconList {
    display: flex;
}
#IconList li {
    margin: 0 10px;
} 
.Credits {
    margin-top: 40px;
    float: left;
    width:100vw;
}
.Credits img.Paypal{

  margin-left: 77%;
}

@media screen and (max-width: 1700px){

  .nav-wrapper{
  height: 105px;
}
  nav{
    height: 105px;

  }


}

@media screen and (max-width: 1556px){

  .nav-wrapper{
  height: 95px;
}
  nav{
    height: 95px;

  }


}
  

@media screen and (max-width: 1385px){
  .liste{

    float: none;
    margin: 20px 70px;
    width:70%;
}

footer{
  height:600px;
  width: 100%;
}

.Credits img.Paypal{

  margin-left: 70%;
}
}

@media screen and (max-width: 1280px){

  .nav-wrapper{
  height: 70px;
}
  nav{
    height: 70px;

  }


}

@media screen and (max-width: 1040px){

   .nav-wrapper{
  height: 60px;
}
  nav{

    height: 60px;
  }

  .Credits {
    margin-top: 0px;
    float: left;
    width:100vw;
}

.Credits img.Paypal{

  margin-left: 65%;
}
}


@media screen and (max-width: 1000px){
  .Credits img.Paypal{

  margin-left: 30%;
}

header h1{
  font-size: 30px;
}
}



@media screen and (max-width: 600px){

   .nav-wrapper{
  height: 35px;
}
  nav{
     
    height: 35px;
  }
}
